<section class="admin-add ml-250">
  <div class="head">
    <h1>
      Add Doctor
    </h1>
  </div>
  <div class="error">
    {{error}}
  </div>
  <div class="container">
    <form action="/add-doctor" method="POST" onsubmit="return validate(event)">
      <div class="input-section">
        <input type="text" name="name" required value="{{doctor.name}}" />
        <label for="">
          Name
        </label>
      </div>
      <div class="input-section">
        <input
          type="text"
          name="username"
          value="{{doctor.username}}"
          required
        />
        <label for="">
          Username
        </label>
      </div>
      <div class="error user-error"></div>
      <div class="input-section">
        <input type="email" name="email" value="{{doctor.email}}" required />
        <label for="">
          Email
        </label>
      </div>
      <div class="input-section">
        <input
          type="text"
          name="specialised"
          value="{{doctor.specialised}}"
          required
        />
        <label for="">
          Specialised
        </label>
      </div>
      <div class="input-section">
        <input type="text" name="field" value="{{doctor.field}}" required />
        <label for="">
          Field
        </label>
      </div>
      <div class="radio-section">
        <div>
          <input type="radio" name="gender" value="Male" id="male" />
          <label for="male">
            <img src="/images/icons/undraw_male_avatar_323b.svg" alt="" />
            <span>
              Male
            </span>
          </label>
        </div>
        <div>
          <input type="radio" name="gender" value="Female" id="female" />
          <label for="female">
            <img src="/images/icons/undraw_female_avatar_w3jk.svg" alt="" />
            <span>
              Female
            </span>
          </label>
        </div>
      </div>
      <div class="input-section">
        <input type="submit" value="Add" />
      </div>
    </form>
  </div>
</section>
<div class="modal gender-modal">
  <h1>
    Please Select Gender!
  </h1>
  <button
    class="normal"
    onclick="document.querySelector('.gender-modal').classList.toggle('active')"
  >
    OK
  </button>
</div>