<section class="admin-doctors ml-250">
  <div class="head">
    <h1>
      List Of Doctors
    </h1>
  </div>
  <div class="container">
    <div class="btn-sec">
      <a href="/add-doctor">
        <i class="fas fa-user-plus"></i>
      </a>
    </div>
    <div class="doctors-display">
      <table>
        <thead>
          <tr>
            <th>
              Doctor Name
            </th>
            <th>
              Username
            </th>
            <th>
              Email
            </th>
            <th>
              Specialsed
            </th>
            <th>
              Sepeciality
            </th>
            <th>
              Account Status
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each doctor}}
            <tr>
              <td>
                <div>
                  <span class="image">
                    <img
                      src="/images/icons/undraw_male_avatar_323b.svg"
                      alt=""
                    />
                  </span>
                  {{this.name}}
                </div>
              </td>
              <td>
                {{this.username}}
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                {{this.specialised}}
              </td>
              <td>
                {{this.field}}
              </td>
              <td>
                {{this.status}}
              </td>
              <td>
                <span class="edit">
                  <i class="fas fa-user-edit"></i>
                </span>
                <span class="delete">
                  <i class="fas fa-user-slash"></i>
                </span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
<div class="modal-container">
  <div class="modal">
    <h1>
      Are You Sure ? Do you Want Delete The Doctor
    </h1>
    <button class="yes">
      Yes
    </button>
    <button class="no">
      No
    </button>
  </div>
</div>