<section class="admin-doctors ml-250">
  <div class="head">
    <h1>
      List Of Doctors
    </h1>
  </div>
  <div class="container">
    <div class="btn-sec">
      <a href="/add-doctor">
        <i class="fas fa-user-plus"></i>
      </a>
    </div>
    <div class="doctors-display">
      <table>
        <thead>
          <tr>
            <th>
              Doctor Name
            </th>
            <th>
              Username
            </th>
            <th>
              Email
            </th>
            <th>
              Specialsed
            </th>
            <th>
              Sepeciality
            </th>
            <th>
              Account Status
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each doctor}}
            <tr>
              <td>
                <div>
                  <span class="image">
                    <img
                      src="/images/icons/undraw_male_avatar_323b.svg"
                      alt=""
                    />
                  </span>
                  {{this.name}}
                </div>
              </td>
              <td>
                {{this.username}}
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                {{this.specialised}}
              </td>
              <td>
                {{this.field}}
              </td>
              <td>
                {{this.status}}
              </td>
              <td>
                <a class="edit" href="#">
                  <i class="fas fa-user-edit"></i>
                </a>
                <a class="delete" href="#">
                  <i class="fas fa-user-slash"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>