<section class="admin appmnt ml-250">
  <div class="tab">
    <button class="tb active" data-id="today" onclick="tabview(event)">
      <i class="fas fa-calendar-day"></i>
      Today
    </button>
    <button class="tb" data-id="upcoming" onclick="tabview(event)">
      <i class="fas fa-calendar-week"></i>
      Upcoming
    </button>
    <button class="tb" data-id="consulted" onclick="tabview(event)">
      <i class="fas fa-clipboard-check"></i>
      Consulted
    </button>
    <button class="tb" data-id="cancelled" onclick="tabview(event)">
      <i class="fas fa-calendar-times"></i>
      Cancelled
    </button>
    <button class="tb" data-id="expired" onclick="tabview(event)">
      <i class="fas fa-history"></i>
      Expired
    </button>
    <hr />
  </div>
  <!-- today -->
  <div class="card-sec active" id="today">
    {{#if result1}}
    {{#each result1}}
    <div class="card" id="{{this.item._id}}">
      <div class="doctor-section">
        <div>
          <img src="/images/doctor/{{this.item.doctor._id}}.jpg" alt="{{this.item.doctor.name}}" />
        </div>
        <div>
          <h4>
            {{this.item.doctor.name}}
          </h4>
          <p>
            {{this.item.doctor.field}}
          </p>
          <p>{{this.item.doctor.specialised}}</p>
        </div>
      </div>
      <div>
        <p>{{this.item.doctor.email}}</p>
      </div>
      <div class="c-head">
        <h3>
          User Deatils
        </h3>
        <p>
          {{this.item.user.name}}
        </p>
        {{#if this.item.user.email}}
        <p>
          {{this.item.user.email}}
        </p>
        {{else}}
        <p>
          {{this.item.user.contactno}}
        </p>
        {{/if}}
      </div>
      <div class="c-content">
        <p>
          {{this.item.date}}
        </p>
        <p>
          {{this.item.timeslot}}
        </p>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <h1>
        No Appointments
      </h1>
    </div>
    {{/if}}
  </div>
  <!-- upcoming -->
  <div class="card-sec" id="upcoming">
    {{#if result2}}
    {{#each result2}}
    <div class="card" id="{{this.item._id}}">
      <div class="doctor-section">
        <div>
          <img src="/images/doctor/{{this.item.doctor._id}}.jpg" alt="{{this.item.doctor.name}}" />
        </div>
        <div>
          <h4>
            {{this.item.doctor.name}}
          </h4>
          <p>
            {{this.item.doctor.field}}
          </p>
          <p>{{this.item.doctor.specialised}}</p>
        </div>
      </div>
      <div>
        <p>{{this.item.doctor.email}}</p>
      </div>
      <div class="c-head">
        <h3>
          User Deatils
        </h3>
        <p>
          {{this.item.user.name}}
        </p>
        {{#if this.item.user.email}}
        <p>
          {{this.item.user.email}}
        </p>
        {{else}}
        <p>
          {{this.item.user.contactno}}
        </p>
        {{/if}}
      </div>
      <div class="c-content">
        <p>
          {{this.item.date}}
        </p>
        <p>
          {{this.item.timeslot}}
        </p>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <h1>
        No Appointments
      </h1>
    </div>
    {{/if}}
  </div>
  <!-- consulted -->
  <div class="card-sec" id="consulted">
    {{#if result3}}
    {{#each result3}}
    <div class="card" id="{{this.item._id}}">
      <div class="doctor-section">
        <div>
          <img src="/images/doctor/{{this.item.doctor._id}}.jpg" alt="{{this.item.doctor.name}}" />
        </div>
        <div>
          <h4>
            {{this.item.doctor.name}}
          </h4>
          <p>
            {{this.item.doctor.field}}
          </p>
          <p>{{this.item.doctor.specialised}}</p>
        </div>
      </div>
      <div>
        <p>{{this.item.doctor.email}}</p>
      </div>
      <div class="c-head">
        <h3>
          User Deatils
        </h3>
        <p>
          {{this.item.user.name}}
        </p>
        {{#if this.item.user.email}}
        <p>
          {{this.item.user.email}}
        </p>
        {{else}}
        <p>
          {{this.item.user.contactno}}
        </p>
        {{/if}}
      </div>
      <div class="c-content">
        <p>
          {{this.item.date}}
        </p>
        <p>
          {{this.item.timeslot}}
        </p>
        <h4>
          Medicines
        </h4>
        {{#if this.item.medicines}}
        {{#each this.item.medicines}}
        <p>
          {{this}}
        </p>
        {{/each}}
        {{else}}
        <p>
          No Medicines Provided
        </p>
        {{/if}}
        {{#if this.item.notes}}
        <h4>
          Notes
        </h4>
        <p>
          {{this.item.notes}}
        </p>
        {{/if}}
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <h1>
        No Appointments
      </h1>
    </div>
    {{/if}}
  </div>
  <!-- cancelled -->
  <div class="card-sec" id="cancelled">
    {{#if result4}}
    {{#each result4}}
    <div class="card">
      <div class="doctor-section">
        <div>
          <img src="/images/doctor/{{this.item.doctor._id}}.jpg" alt="{{this.item.doctor.name}}" />
        </div>
        <div>
          <h4>
            {{this.item.doctor.name}}
          </h4>
          <p>
            {{this.item.doctor.field}}
          </p>
          <p>{{this.item.doctor.specialised}}</p>
        </div>
      </div>
      <div>
        <p>{{this.item.doctor.email}}</p>
      </div>
      <div class="c-head">
        <h3>User Deatils</h3>
        <p>
          {{this.item.user.name}}
        </p>
        {{#if this.item.user.email}}
        <p>
          {{this.item.user.email}}
        </p>
        {{else}}
        <p>
          {{this.item.email.contactno}}
        </p>
        {{/if}}
      </div>
      <div class="c-content">
        <p>
          {{this.item.date}}
        </p>
        <p>
          {{this.item.timeslot}}
        </p>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <h1>
        No Appointments
      </h1>
    </div>
    {{/if}}
  </div>
  <!-- expired -->
  <div class="card-sec" id="expired">
    {{#if result5}}
    {{#each result5}}
    <div class="card">
      <div class="doctor-section">
        <div>
          <img src="/images/doctor/{{this.item.doctor._id}}.jpg" alt="{{this.item.doctor.name}}" />
        </div>
        <div>
          <h4>
            {{this.item.doctor.name}}
          </h4>
          <p>
            {{this.item.doctor.field}}
          </p>
          <p>{{this.item.doctor.specialised}}</p>
        </div>
      </div>
      <div>
        <p>{{this.item.doctor.email}}</p>
      </div>
      <div class="c-head">
        <h3>User Deatils</h3>
        <p>
          {{this.item.user.name}}
        </p>
        {{#if this.item.user.email}}
        <p>
          {{this.item.user.email}}
        </p>
        {{else}}
        <p>
          {{this.item.user.contactno}}
        </p>
        {{/if}}
      </div>
      <div class="c-content">
        <p>
          {{this.item.date}}
        </p>
        <p>
          {{this.item.timeslot}}
        </p>
        <p>
          {{this.item.status}}
        </p>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <h1>
        No Appointments
      </h1>
    </div>
    {{/if}}
  </div>
</section>
<div class="modal delete-modal">
  <h1>
    Do you Want Cancel ?
  </h1>
  <button class="yes" onclick="cancelBooking()">
    Yes
  </button>
  <button class="no" onclick="document.querySelector('.delete-modal').classList.toggle('active')">
    No
  </button>
</div>
<div class="modal delete-sucess-modal">
  <h1>
    Deleted Sucessfully
  </h1>
  <button class="normal" onclick="document.querySelector('.delete-sucess-modal').classList.toggle('active')">
    Close
  </button>
</div>
<div class="modal delete-fail-modal">
  <h1>
    Something Went Wrong
  </h1>
  <button class="normal" onclick="document.querySelector('.delete-fail-modal').classList.toggle('active')">
    Close
  </button>
</div>
<script src="/javascripts/appointment-doc.js"></script>