<section class="admin-users ml-250">
  <div class="user-container">
    <div class="tab">
      <button id="doctor" class="active"
        onclick="toogleTab('#doctor', '#patient', '#doctor-conatiner', '#patient-conatiner')">
        <i class="fas fa-user-md"></i>
        Doctors
      </button>
      <button id="patient" onclick="toogleTab('#patient','#doctor','#patient-conatiner','#doctor-conatiner')">
        <i class="fas fa-user-injured"></i>
        Patients
      </button>
      <hr />
    </div>
    <div id="doctor-conatiner" class="container active">
      <div class="btn-sec">
        <a href="/add-doctor">
          <i class="fas fa-user-plus"></i>
        </a>
      </div>
      <div class="doctors-display">
        <table>
          <thead>
            <tr>
              <th>
                Image
              </th>
              <th>
                Doctor Name
              </th>
              <th>
                Username
              </th>
              <th>
                Email
              </th>
              <th>
                Specialsed
              </th>
              <th>
                Sepeciality
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each doctor}}
            <tr id="{{this._id}}">
              <td>
                <div>
                  {{#isImage this._id "doctor"}}
                  <img src="/images/doctor/{{this._id}}.jpg" alt="" />
                  {{else}}
                  <img src="/images/icons/undraw_male_avatar_323b.svg">
                  {{/isImage}}
                  <div id="{{this._id}}msg" class="img-hover" onclick="window.location = '/image-upload/{{this._id}}'">
                    Edit
                  </div>
                </div>
              </td>
              <td>
                <a href="/stats/{{this._id}}">
                  {{this.name}}
                </a>
              </td>
              <td>
                <a href="/stats/{{this._id}}">
                  {{this.username}}
                </a>
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                {{this.specialised}}
              </td>
              <td>
                {{this.field}}
              </td>
              <td>
                <a class="edit tooltip" href="/doctors/{{this.username}}">
                  <i class="fas fa-user-edit"></i>
                  <span class="tooltip-text">
                    Edit
                  </span>
                </a>
                <span class="delete tooltip" onclick="modalup('doctor-block-modal','{{this._id}}')">
                  <i class="fas fa-user-slash"></i>
                  <span class="tooltip-text">
                    Block
                  </span>
                </span>
                <span class="delete tooltip" onclick="modalup('doctor-modal','{{this._id}}')">
                  <i class="fas fa-user-times"></i>
                  <span class="tooltip-text">
                    Delete
                  </span>
                </span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div id="patient-conatiner" class="container">
      <div class="btn-sec">
        <a href="/add-patient">
          <i class="fas fa-user-plus"></i>
        </a>
      </div>
      <div class="doctors-display">
        <table>
          <thead>
            <tr>
              <th>
                Image
              </th>
              <th>
                Patient Name
              </th>
              <th>
                Age
              </th>
              <th>
                Gender
              </th>
              <th>
                Mobile No
              </th>
              <th>
                Email
              </th>
              <th>
                Auth Method
              </th>
              <th>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each patient}}
            <tr id="{{this._id}}">
              <td>
                {{#isImage this._id "users"}}
                <img class="img" src="/images/users/{{this._id}}.jpg">
                {{else}}
                {{#isNotOAuth this.auth}}
                <img class="img" src="/images/icons/undraw_male_avatar_323b.svg">
                {{else}}
                <img class="img" src="{{this.profileImage}}" alt="">
                {{/isNotOAuth}}
                {{/isImage}}
              </td>
              <td>
                <div>
                  {{this.name}}
                </div>
              </td>
              <td>
                {{this.age}}
              </td>
              <td>
                {{this.gender}}
              </td>
              <td>
                {{this.contactno}}
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                {{this.auth}}
              </td>
              <td>
                <a class="edit tooltip" href="/patients/{{this._id}}">
                  <i class="fas fa-user-edit"></i>
                  <span class="tooltip-text">
                    Edit
                  </span>
                </a>
                <span class="delete tooltip" onclick="modalup('pateint-block-modal','{{this._id}}')">
                  <i class="fas fa-user-slash"></i>
                  <span class="tooltip-text">
                    Block
                  </span>
                </span>
                <span class="delete tooltip" onclick="modalup('pateint-modal','{{this._id}}')">
                  <i class="fas fa-user-times"></i>
                  <span class="tooltip-text">
                    Delete
                  </span>
                </span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="modal-container">
  <div class="modal doctor-modal">
    <h1>
      Do you Want Delete Doctor?
    </h1>
    <button class="yes" id="doctor-delete">
      Yes
    </button>
    <button class="no" onclick="document.querySelector('.doctor-modal').classList.toggle('active')">
      No
    </button>
  </div>
  <div class="modal doctor-block-modal">
    <h1>
      Do you Want Block Doctor?
    </h1>
    <button class="yes" onclick="blockDoctor()">
      Yes
    </button>
    <button class="no" onclick="document.querySelector('.doctor-block-modal').classList.toggle('active')">
      No
    </button>
  </div>
  <div class="modal delete-sucess-modal">
    <h1>
      Deleted Sucessfully
    </h1>
    <button class="normal" onclick="document.querySelector('.delete-sucess-modal').classList.toggle('active')">
      Close
    </button>
  </div>
  <div class="modal block-sucess-modal">
    <h1>
      Blocked Sucessfully
    </h1>
    <button class="normal" onclick="document.querySelector('.block-sucess-modal').classList.toggle('active')">
      Close
    </button>
  </div>
  <div class="modal pateint-modal">
    <h1>
      Do you Want Delete Pateint?
    </h1>
    <button class="yes" id="patient-delete">
      Yes
    </button>
    <button class="no" onclick="document.querySelector('.pateint-modal').classList.toggle('active')">
      No
    </button>
  </div>
  <div class="modal pateint-block-modal">
    <h1>
      Do you Want Block Pateint?
    </h1>
    <button class="yes" onclick="blockPatient()">
      Yes
    </button>
    <button class="no" onclick="document.querySelector('.pateint-block-modal').classList.toggle('active')">
      No
    </button>
  </div>
</div>
<script src="/javascripts/users-search.js"></script>