<section class="dr-page history ml-250">
    {{#if history}}
    <div class="doctors-display" style="padding: 25px;">
        <div class="btn-sec">
            <a href="/history/download/{{userId}}">
                <i class="fas fa-download"></i>
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Patient Email
                    </th>
                    <th>
                        Patient Contactno
                    </th>
                    <th>
                        Consulted On
                    </th>
                    <th>
                        Medcines
                    </th>
                    <th>
                        Notes
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each history}}
                <tr id="{{this._id}}">
                    <td>
                        {{this.user.name}}
                    </td>
                    <td>
                        {{this.user.email}}
                    </td>
                    <td>
                        {{this.user.contactno}}
                    </td>
                    <td><span>{{this.date}}</span></td>
                    <td>
                        {{#each this.medicines}}
                        {{this}}
                        {{/each}}
                    </td>
                    <td>{{this.notes}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
    {{else}}
    <div class="head" style="display: flex; justify-content: center">
        <h1>No History Found</h1>
    </div>
    {{/if}}
</section>