<section class="dr-page appmnt ml-250">
  <div class="tab">
    <button class="tb active" data-id="today" onclick="tabview(event)">
      <i class="fas fa-calendar-day"></i>
      Today
    </button>
    <button class="tb" data-id="upcoming" onclick="tabview(event)">
      <i class="fas fa-calendar-week"></i>
      Upcoming
    </button>
    <button class="tb" data-id="consulted" onclick="tabview(event)">
      <i class="fas fa-clipboard-check"></i>
      Consulted
    </button>
    <button class="tb" data-id="cancelled" onclick="tabview(event)">
      <i class="fas fa-calendar-times"></i>
      Cancelled
    </button>
    <button class="tb" data-id="expired" onclick="tabview(event)">
      <i class="fas fa-history"></i>
      Expired
    </button>
    <hr />
  </div>
  <!-- today -->
  <div class="card-sec active" id="today">
    {{#if todays}}
    {{#each todays}}
    <div class="card" id="{{this._id}}">
      <div class="c-head">
        <p>{{this.user.name}}</p>
        {{#if this.user.email}}
        <p>{{this.user.email}}</p>
        {{else}}
        <p>{{this.user.contactno}}</p>
        {{/if}}
      </div>
      <div class="c-content">
        <p>{{this.date}}</p>
        <p>{{this.timeslot}}</p>
        <div class="btn-grp" style="margin-left: 0;">
          <button class="crop">Consult</button>
          <button class="crop" style="margin-left: 10px;"
            onclick="modalup('delete-modal','{{this._id}}')">Cancel</button>
        </div>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <h1>No Appointments</h1>
    </div>
    {{/if}}
  </div>
  <!-- upcoming -->
  <div class="card-sec" id="upcoming">
    {{#if upcoming}}
    {{#each upcoming}}
    <div class="card" id="{{this._id}}">
      <div class="c-head">
        <p>{{this.user.name}}</p>
        {{#if this.user.email}}
        <p>{{this.user.email}}</p>
        {{else}}
        <p>{{this.user.contactno}}</p>
        {{/if}}
      </div>
      <div class="c-content">
        <p>{{this.date}}</p>
        <p>{{this.timeslot}}</p>
        <div class="btn-grp" style="margin-left: 0;">
          <button class="crop" onclick="modalup('delete-modal','{{this._id}}')">Cancel</button>
        </div>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <h1>No Appointments</h1>
    </div>
    {{/if}}
  </div>
  <!-- consulted -->
  <div class="card-sec" id="consulted">
    {{#if consulted}}
    <div class="card">
      <div class="c-head">
        <p>Muhammad Semeer</p>
        <p>muhammadsemeerali@gmail.com</p>
      </div>
      <div class="c-content">
        <p>Date</p>
        <p>Time Stlot</p>
        <div class="btn-grp" style="margin-left: 0;">
          <button class="crop">Consult</button>
          <button class="crop" style="margin-left: 10px;"
            onclick="modalup('delete-modal','{{this.doctor}}')">Cancel</button>
        </div>
      </div>
    </div>
    {{else}}
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <h1>No Appointments</h1>
    </div>
    {{/if}}
  </div>
  <!-- cancelled -->
  <div class="card-sec" id="cancelled">
    {{#if cancelled}}
    {{#each cancelled}}
    <div class="card">
      <div class="c-head">
        <p>{{this.user.name}}</p>
        {{#if this.user.email}}
        <p>{{this.user.email}}</p>
        {{else}}
        <p>{{this.email.contactno}}</p>
        {{/if}}
      </div>
      <div class="c-content">
        <p>{{this.date}}</p>
        <p>{{this.timeslot}}</p>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <h1>No Appointments</h1>
    </div>
    {{/if}}
  </div>
  <!-- expired -->
  <div class="card-sec" id="expired">
    {{#if expired}}
    {{#each expired}}
    <div class="card">
      <div class="c-head">
        <p>{{this.user.name}}</p>
        {{#if this.user.email}}
        <p>{{this.user.email}}</p>
        {{else}}
        <p>{{this.user.contactno}}</p>
        {{/if}}
      </div>
      <div class="c-content">
        <p>{{this.date}}</p>
        <p>{{this.timeslot}}</p>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card" style="display: flex; justify-content: center; align-items: center">
      <h1>No Appointments</h1>
    </div>
    {{/if}}
  </div>
</section>
<script>
  function tabview(event) {
    var id = event.target.dataset.id
    var tb = document.querySelectorAll(".tb")
    var cardSec = document.querySelectorAll(".card-sec")
    for (let i = 0; i < tb.length; i++) {
      tb[i].classList.remove("active")
    }
    for (let i = 0; i < cardSec.length; i++) {
      cardSec[i].classList.remove("active")
    }
    document.getElementById(id).classList.add("active")
    event.target.classList.add("active")
  }
</script>
<div class="modal delete-modal">
  <h1>
    Do you Want Delete Doctor?
  </h1>
  <button class="yes" onclick="cancelBooking()">
    Yes
  </button>
  <button class="no" onclick="document.querySelector('.delete-modal').classList.toggle('active')">
    No
  </button>
</div>
<div class="modal delete-sucess-modal">
  <h1>
    Deleted Sucessfully
  </h1>
  <button class="normal" onclick="document.querySelector('.delete-sucess-modal').classList.toggle('active')">
    Close
  </button>
</div>
<div class="modal delete-fail-modal">
  <h1>
    Something Went Wrong
  </h1>
  <button class="normal" onclick="document.querySelector('.delete-fail-modal').classList.toggle('active')">
    Close
  </button>
</div>
<script>
  function cancelBooking() {
    fetch(`/bookings/cancel/${doctorid}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      }
    }).then((res) => res.json()).then((status) => {
      if (status) {
        document.getElementById(doctorid).remove()
        document.querySelector('.delete-modal').classList.toggle('active')
        modalup("delete-sucess-modal")
      } else {
        modalup("delete-fail-modal")
      }
    })
  }
</script>