<section class="dr-page booking ml-250">
    {{#if bookings}}
    {{#each bookings}}
    <div class="container" id="{{this._id}}" style="padding-top: 15px;">
        <div class="card">
            <div class="card-head">
                <div>
                    <p>{{this.user.name}}</p>
                    {{#if this.user.email}}
                    <p style="word-break: break-all; font-size: 14px;">{{this.user.email}}</p>
                    {{else}}
                    <p style="word-break: break-all; font-size: 14px;">{{this.user.contactno}}</p>
                    {{/if}}
                </div>
            </div>
            <div class="card-body">
                <p>Date: {{this.date}}</p>
                <p>Time: {{this.timeslot}}</p>
                <div class="btn-grp">
                    <a href="/bookings/approve/{{this._id}}">
                        <button class="crop">
                            Approve
                        </button>
                    </a>
                    <button class="crop" style="margin-left: 10px;" onclick="modalup('delete-modal','{{this._id}}')">
                        Cancel
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <div class="container no-book" style="padding-top: 15px;">
        <div class="card" style="display: flex; justify-content: center; align-items: center">
            <h1>No Bookings</h1>
        </div>
    </div>
    {{/if}}
</section>
<div class="modal delete-modal">
    <div class="loader-f">
        <div class="spinner"></div>
    </div>
    <h1>
        Do you Want to Cancel?
    </h1>
    <button class="yes" onclick="cancelBooking()">
        Yes
    </button>
    <button class="no" onclick="document.querySelector('.delete-modal').classList.toggle('active')">
        No
    </button>
</div>
<div class="modal delete-sucess-modal">
    <h1>
        Deleted Sucessfully
    </h1>
    <button class="normal" onclick="document.querySelector('.delete-sucess-modal').classList.toggle('active')">
        Close
    </button>
</div>
<div class="modal delete-fail-modal">
    <h1>
        Something Went Wrong
    </h1>
    <button class="normal" onclick="document.querySelector('.delete-fail-modal').classList.toggle('active')">
        Close
    </button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var loaderf = document.querySelector(".loader-f");
    function cancelBooking() {
        loaderf.style.display = "flex";
        fetch(`/bookings/cancel/${doctorid}`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
            }
        }).then((res) => res.json()).then((status) => {
            if (status) {
                loaderf.style.display = "none";
                document.getElementById(doctorid).remove()
                document.querySelector('.delete-modal').classList.toggle('active')
                modalup("delete-sucess-modal")
            } else {
                modalup("delete-fail-modal")
            }
        })
    }
    var id = "{{doctorLogged._id}}"
    var socket = io()
    var container = document.querySelector(".booking")
    var nobooking = document.querySelector(".no-book")
    socket.on(id, (appointment) => {
        if (appointment.user.email === undefined) {
            appointment.user.email = ""
        }
        if (appointment.user.contactno === undefined) {
            appointment.user.contactno = ""
        }
        if (nobooking) {
            nobooking.remove()
            container.innerHTML += `
        <div class="container" id="${appointment._id}" style="padding-top: 15px;">
        <div class="card">
            <div class="card-head">
                <div>
                    <p>${appointment.user.name}</p>
                    <p style="word-break: break-all; font-size: 14px;">${appointment.user.email}</p>
                    <p style="word-break: break-all; font-size: 14px;">${appointment.user.contactno}</p>
                </div>
            </div>
            <div class="card-body">
                <p>Date: ${appointment.date}</p>
                <p>Time: ${appointment.timeslot}</p>
                <div class="btn-grp">
                    <a href="/bookings/approve/${appointment._id}">
                        <button class="crop">
                            Approve
                        </button>
                    </a>
                    <button class="crop" style="margin-left: 10px;" onclick="modalup('delete-modal','${appointment._id}')">
                        Cancel
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
        `
        } else {
            container.innerHTML += `
        <div class="container" id="${appointment._id}" style="padding-top: 15px;">
        <div class="card">
            <div class="card-head">
                <div>
                    <p>${appointment.user.name}</p>
                    <p style="word-break: break-all; font-size: 14px;">${appointment.user.email}</p>
                    <p style="word-break: break-all; font-size: 14px;">${appointment.user.contactno}</p>
                </div>
            </div>
            <div class="card-body">
                <p>Date: ${appointment.date}</p>
                <p>Time: ${appointment.timeslot}</p>
                <div class="btn-grp">
                    <a href="/bookings/approve/${appointment._id}">
                        <button class="crop">
                            Approve
                        </button>
                    </a>
                    <button class="crop" style="margin-left: 10px;" onclick="modalup('delete-modal','${appointment._id}')">
                        Cancel
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
        `
        }
    })
    var deleted = "deleted" + id
    socket.on(deleted, (id) => {
        document.getElementById(id).remove()
    })
</script>