<section class="admin-add ml-250">
  <div class="head">
    <h1>
      Edit Slot Config
    </h1>
  </div>
  <div class="error">
    {{error}}
  </div>
  <div class="container">
    <form action="/profile/slot-config" method="POST">
      {{#each slotConfig.timeArr}}
      <div class="input-section">
        <input type="time" name="startTime" value="{{this.startTime}}" id="startTime" required />
        <label for="startTime">
          Consulting Time From
        </label>
      </div>
      <div class="input-section">
        <input type="time" name="endTime" value="{{this.endTime}}" id="endTime" required />
        <label for="endTime">
          Consulting Time To
        </label>
      </div>
      {{/each}}
      <div class="input-section">
        <input type="number" max="23" min="0" placeholder="like 8 or 13" name="slotHours"
          value="{{slotConfig.configSlotHours}}" required />
        <label for="">
          Slot Hours
        </label>
      </div>
      <div class="input-section">
        <input type="number" max="60" min="0" placeholder="like 8 or 13" name="slotMinutes"
          value="{{slotConfig.configSlotMinutes}}" required />
        <label for="">
          Slot Minutes
        </label>
      </div>
      <div class="input-section">
        <input type="number" max="60" min="0" placeholder="like 8 or 13" name="slotPreparation"
          value="{{slotConfig.configSlotPreparation}}" required />
        <label for="">
          Slot Preparation Minutes
        </label>
      </div>
      <div class="input-section">
        <input type="submit" value="Update" />
      </div>
    </form>
  </div>
</section>
<div class="modal gender-modal">
  <h1>
    Please Select Gender!
  </h1>
  <button class="normal" onclick="document.querySelector('.gender-modal').classList.toggle('active')">
    OK
  </button>
</div>