<section class="user book-appointment">
  <div class="container">
    <div class="doctor-sec">
      <div class="img-sec">
        <img src="/images/doctor/{{doctor._id}}.jpg" alt="" />
      </div>
      <div class="content-sec">
        <p>
          {{doctor.name}}
        </p>
        <p>
          {{doctor.field}}
        </p>
        <p>
          {{doctor.specialised}}
        </p>
      </div>
    </div>
    <div class="book-sec">
      <div class="head" style="padding: 0; text-align: center">
        <h1>
          Select Your Date and Time
        </h1>
      </div>
      <div class="dates">
        <div class="arrow" onclick="changeStart(0)">
          <i class="fas fa-chevron-left"></i>
        </div>
        <input type="text" id="id" value="{{doctor._id}}" hidden />
        <div class="radio-section" id="date"></div>
        <div class="arrow" onclick="changeStart(1)">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="time">
        <div class="arrow time" onclick="changeTime(0)" style="display: none;">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="radio-section" id="time"></div>
        <div class="arrow" onclick="changeTime(1)" style="display: none;">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="btn-grp" style="display: flex; justify-content: center">
        <button class="crop" onclick="book('{{doctor._id}}')">
          Book Appointment
        </button>
      </div>
    </div>
  </div>
</section>
<div class="modal error-modal">
  <h1 class="error">
    Please Select Date and Time
  </h1>
  <button class="normal" onclick="document.querySelector('.error-modal').classList.toggle('active')">
    OK
  </button>
</div>
<div class="modal success-modal">
  <h1>
    Appointment Booked!!!
  </h1>
  <button class="normal" onclick="window.location = '/appointments'">
    OK
  </button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/booking.js"></script>