<section class="home user" id="#">
  <div class="hero">
    <aside>
      <h1>
        Welcome To Galaxieon Care
      </h1>
      <p>
        Get your personal health care companion here
      </p>
      <div class="btn-grp" style="margin-left: 0;">
        <a href="#doctors">
          <button class="crop">
            Find Your Doctor
          </button>
        </a>
      </div>
    </aside>
  </div>
  <div class="search" style="display: flex; justify-content:flex-end; padding-top: 30px">
    <div class="dr-search">
      <div class="btn-grp">
        <input type="text" name="q" class="first" id="search" value="{{query}}" placeholder="Search....">
        <button type="submit" class="last" id="search-btn"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class="card" id="doctors">
    {{#each doctor}}
    <div class="container">
      <div class="img-section">
        {{#isImage this._id "doctor"}}
        <img src="/images/doctor/{{this._id}}.jpg" alt="" />
        {{else}}
        <img src="/images/icons/undraw_male_avatar_323b.svg">
        {{/isImage}}
      </div>
      <div class="content">
        <p>
          {{this.name}}
        </p>
        <p>
          {{this.field}}
        </p>
        <p>
          {{this.specialised}}
        </p>
        <div class="btn-grp" style="margin-left: 0; font-size: 16px">
          <a href="/book-appoinment/{{this._id}}">
            <button class="crop" style="font-size: 15px">
              Book Apointment
            </button>
          </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</section>
<footer id="contact">
  <div class="copy">
    ©
    <span id="year"></span>
    Galaxieon Care
  </div>
  <div class="address">
    <h3>
      Contact Us
    </h3>
    <p>
      1/20 Galaxieon Care
      <br />
      Robinson Road
      <br />
      Near Govt District Hospital, Palakkad
      <br />
      <span class="mobo">
        Contact no: 9876543210
      </span>
    </p>
  </div>
  <div class="social">
    <div>
      <h3>
        Find Us on
      </h3>
    </div>
    <div>
      <span class="social-icon">
        <i class="fab fa-facebook"></i>
      </span>
      <span class="social-icon">
        <i class="fab fa-whatsapp"></i>
      </span>
    </div>
    <div>
      <span class="social-icon">
        <i class="fab fa-instagram"></i>
      </span>
      <span class="social-icon">
        <i class="fab fa-twitter"></i>
      </span>
    </div>
  </div>
</footer>
<script>
  document.querySelector("#year").innerHTML = new Date().getFullYear()
</script>
<script src="/javascripts/index.js"></script>