<section class="user myprofile">
    <div class="head">
        <h1>My Profile</h1>
    </div>
    <div class="container">
        <div class="profile-disp">
            <div class="disp-head">
                <div class="img-sec">
                    {{#isImage user._id "users"}}
                    <img class="img" src="/images/users/{{user._id}}.jpg" alt="{{userDetails.name}}">
                    {{else}}
                    {{#isNotOAuth user.auth}}
                    <img class="img" src="/images/icons/undraw_male_avatar_323b.svg">
                    {{else}}
                    <img class="img" src="{{user.profileImage}}" alt="">
                    {{/isNotOAuth}}
                    {{/isImage}}
                </div>
            </div>
            <div class="disp-body">
                <p>Name: <span>{{userDetails.name}}</span></p>
                {{#if userDetails.email}}
                <p>Email: <span>{{userDetails.email}}</span></p>
                {{/if}}
                {{#if userDetails.contactno}}
                <p>Contact No: <span>{{userDetails.contactno}}</span></p>
                {{/if}}
                {{#if userDetails.gender}}
                <p>Gender: <span>{{userDetails.gender}}</span></p>
                {{/if}}
                {{#if userDetails.age}}
                <p>Age: <span>{{userDetails.age}}</span></p>
                {{/if}}
                <div class="btn-grp" style="margin-left: 0;">
                    <a href="/profile/edit"><button class="crop">Edit</button></a>
                    {{#isNotOAuth userDetails.auth}}
                    <a href="/image-upload/{{userDetails._id}}"><button class="crop" style="margin-left: 5px;">Change
                            Image</button></a>
                    {{/isNotOAuth}}
                    <br>
                </div>
                <div class="btn-grp" style="margin-left: 0;">
                    {{#isOAuth userDetails.auth userDetails.email}}
                    <a href="/profile/change-password">
                        <button class="crop">Change Password</button>
                    </a>
                    {{/isOAuth}}
                </div>
            </div>
        </div>
        <div class="insights-section">
            <div class="head" style="padding-top: 0;">
                <h1>Insights</h1>
            </div>
            <div class="in-body">
                {{#if insights.lastBook}}
                <div>
                    <h4>Last Booked Appointment</h4>
                    <p>{{insights.lastBook.date}}</p>
                    <p>{{insights.lastBook.timeslot}}</p>
                    <p>Status: {{insights.lastBook.status}}</p>
                    <p>With {{insights.lastBook.doctor.name}}</p>
                    {{#if insights.lastApp}}
                    <h4>Total Consulted Appointments</h4>
                    <p>{{insights.consultedAppCount}}</p>
                    {{/if}}
                </div>
                {{else}}
                <div>
                    <p>No Appointments Booked Yet</p>
                </div>
                {{/if}}
                <div>
                    <h4>Last Constulted Appointment</h4>
                    {{#if insights.lastApp}}
                    <p>{{insights.lastApp.date}}</p>
                    <p>{{insights.lastApp.timeslot}}</p>
                    <p>With {{insights.lastApp.doctor.name}}</p>
                    <h4>Most Visited Doctor</h4>
                    <p>{{insights.mostVisited.name}}</p>
                    {{else}}
                    <div>
                        <p>No Consulted Appointment Found</p>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>